body {
  background-image:url("../images/doc1.jpg");
  background-repeat: no-repeat;
}

button {
  color: black;
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 20px;
  background-color: transparent;
  clear: both;
}

form {
  width: 320px;
  height: 150px;
  border: solid black 0.5px;
  float: left;
  margin-left: 100px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 15px;
}

  label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}
